@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    display: flex;
    justify-content: center;
    
    height: 70vh;
    font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}
[id^='venda']{
    height: 150px;
    width: 150px;
    border: solid black 1px;
    border-radius: 15px;
    position: relative;
}
#btn-div{
    margin-top: 20px;
    margin-bottom: 20px;
}
.sells{
    display: block;
    gap: 10px;
}
#day{
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 6px;
}
#removeBTN{
    height: 15px;
    width: 15px;
    border: none;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 14px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
#sell-by-day{
    margin-left: 40px;
    margin-top: 54px;
    height: 40px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
}
#real-simbol{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 5px;
    height: 27px;
    width: 20px;
    background-color: white;
    position: absolute;
}


main{
    width: 100%;
    margin-top: 50px;
display: flex;
flex-direction: column;
align-items: center;

}
#menu-bar{
    width: 100%;
    top: 0px;
    margin-bottom: 40px;
    background-color: black;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}
#title-adg-massa{
    
    top: 0px;
    height: 30px;
    background-color: black;
    color: white;
    font-size:22px;
    text-decoration:underline solid red;

    display: flex;
    align-items: center;
    justify-content: center;

}
#pages-div{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}
a{
    height: 30px;
    width: 60px;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 200px;
    margin-inline: 20px;
    color: rgb(0, 85, 255);
     transition: 0.5s linear;
}

#page1:hover,
#page2:hover{
   text-decoration: underline orangered;

}

#add-sell{
    background-color: rgb(0, 174, 255);
    color: white;
    height: 40px;
    width: 150px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

@media (max-width: 450px){
    #menu-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 22px;
        background-color: white;
    }
    #title-adg-massa{
        position: fixed;
        background-color: black;
        height: 28px;
        width: 100%;
    }
    #pages-div{
        display: flex;
        flex-direction: row;
        margin: 0px;
        
    }
    
}